<div class="col-md-8">
	<div class="row">
		<div class="image-case"></div>
		<div class="image-case"></div>
	</div>
	<div class="row">
		<div class="image-case"></div>
		<div class="image-case"></div>
	</div>
</div>

<div class="col-md-4 pBoard">

	<div class="row">
		<div class="letter">F</div>
		<div class="letter">A</div>
		<div class="letter">K</div>
		<div class="letter">T</div>
		<div class="letter">S</div>
		<div class="letter">O</div>
	</div>

	<div class="row">
		<div class="letter">P</div>
		<div class="letter">I</div>
		<div class="letter">C</div>
		<div class="letter">W</div>
		<div class="letter">T</div>
		<div class="letter">K</div>
	</div>
	<div class="row">
		<div> <h2>Votre Solution</h2> </div>
		<div class="letter-solution"></div>
		<div class="letter-solution"></div>
		<div class="letter-solution"></div>
		<div class="letter-solution"></div>
		<div class="letter-solution"></div>
		<div class="letter-solution"></div>
		<div class="letter-solution"></div>
		<div class="letter-solution"></div>
	</div>
</div>